/* h1 {
    color: rgb(13, 13, 69);
    background-color: rgb(187, 124, 47);
} */

/* .heading {
    color: rgb(4, 4, 18);
    background-color: rgb(187, 124, 47);
}

body {
    background-color:rgb(46, 151, 116);
}

button {
    background-color: blueviolet;
    color: white;
} */


